@-webkit-keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@-moz-keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@-webkit-keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 120%; } }

@-moz-keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 120%; } }

@keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 110%; } }

@-webkit-keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@-moz-keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@-webkit-keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@-moz-keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@-webkit-keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@-moz-keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@-webkit-keyframes type {
  from {
    width: 0; } }

@-moz-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-moz-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes blink {
  to {
    opacity: .0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeInOut {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.rowHeader {
  padding-top: 15px; }
  .rowHeader .burger {
    display: none; }
  .rowHeader .nav {
    font-size: 20px; }
    .rowHeader .nav ul {
      text-align: right; }
      .rowHeader .nav ul li {
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        cursor: pointer; }
        .rowHeader .nav ul li:hover {
          color: #FC4F13 !important;
          -webkit-transition: color .5s ease;
          -moz-transition: color .5s ease;
          -ms-transition: color .5s ease;
          -o-transition: color .5s ease;
          transition: color .5s ease; }
        .rowHeader .nav ul li .tinyCircle {
          border: 2px solid black;
          width: 7px;
          height: 7px;
          display: block;
          border-radius: 100px;
          margin-bottom: 2px; }

.rowIntro {
  margin-top: 70px;
  margin-bottom: 70px; }
  .rowIntro .mobileIntro {
    display: none; }
  .rowIntro .me {
    width: 200px;
    margin: 0px auto;
    display: block;
    float: none; }
    .rowIntro .me .st0 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-miterlimit: 10; }
    .rowIntro .me .st1 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st2 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-linecap: square;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st3 {
      fill: none;
      stroke: #000000;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st4 {
      fill: #FFFFFF; }
    .rowIntro .me .st5 {
      fill: none;
      stroke: #000000;
      stroke-width: 3.5;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
  .rowIntro .regIntro .introText {
    margin: 0px auto;
    display: block;
    float: none;
    margin-top: 40px;
    border: 4px solid black;
    width: 596px;
    padding-top: 10px; }
    .rowIntro .regIntro .introText p {
      white-space: nowrap;
      overflow: hidden;
      width: 500px;
      width: 60ch;
      animation: type 5s steps(60, end); }
  .rowIntro .regIntro .introButtons {
    margin: 0px auto;
    display: block;
    float: none;
    width: 437px;
    margin-top: 20px; }
    .rowIntro .regIntro .introButtons .introNav {
      border: 4px solid black;
      width: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      margin: 0px auto;
      display: inline-block;
      float: none; }
    .rowIntro .regIntro .introButtons .aboutMe {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 4.5s;
      -moz-animation: 0.5s fadeIn ease-in 4.5s;
      animation: 0.5s fadeIn ease-in 4.5s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowIntro .regIntro .introButtons .selectedWorks {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 5.25s;
      -moz-animation: 0.5s fadeIn ease-in 5.25s;
      animation: 0.5s fadeIn ease-in 5.25s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowIntro .regIntro .introButtons .contact {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 6s;
      -moz-animation: 0.5s fadeIn ease-in 6s;
      animation: 0.5s fadeIn ease-in 6s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
  .rowIntro .regIntro .arrowDownIntro {
    padding-top: 50px; }
    .rowIntro .regIntro .arrowDownIntro .arrow {
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      width: 35px;
      height: 35px;
      margin: 0px auto;
      display: block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      -webkit-animation: 1s fadeIn ease-in 7s;
      -moz-animation: 1s fadeIn ease-in 7s;
      animation: 1s fadeIn ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.rowAboutMe {
  margin-top: 70px;
  padding-bottom: 50px; }
  .rowAboutMe .astroBox {
    -webkit-animation: 3s moveOverAstro ease-in 5s;
    -moz-animation: 3s moveOverAstro ease-in 5s;
    animation: 3s moveOverAstro ease-in 5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .rowAboutMe .astroBox .me {
      width: 200px;
      margin: 0px auto;
      display: block;
      float: none;
      -webkit-animation: 5s shrink ease-in 0s;
      -moz-animation: 5s shrink ease-in 0s;
      animation: 5s shrink ease-in 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .me .st0 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st1 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        -webkit-animation: 5s fadeOut ease-in 0s;
        -moz-animation: 5s fadeOut ease-in 0s;
        animation: 5s fadeOut ease-in 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .me .st2 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: square;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st3 {
        fill: none;
        stroke: #000000;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st4 {
        fill: #FFFFFF; }
      .rowAboutMe .astroBox .me .st5 {
        fill: none;
        stroke: #000000;
        stroke-width: 3.5;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
    .rowAboutMe .astroBox .astronaut {
      width: 250px;
      margin: 0px auto;
      display: block;
      float: none;
      -webkit-animation: 4s moveUpAstro ease-in 0s;
      -moz-animation: 4s moveUpAstro ease-in 0s;
      animation: 4s moveUpAstro ease-in 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .astronaut .st0 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        opacity: 0;
        -webkit-animation: 5s fadeIn ease-in 0s;
        -moz-animation: 5s fadeIn ease-in 0s;
        animation: 5s fadeIn ease-in 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  .rowAboutMe .astroText {
    z-index: 900;
    position: absolute;
    width: 45%;
    top: 0px;
    left: 45%;
    text-align: justify; }
    .rowAboutMe .astroText p {
      padding: 10px; }
    .rowAboutMe .astroText .p1 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 7s;
      -moz-animation: 0.5s fadeIn ease-in 7s;
      animation: 0.5s fadeIn ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p2 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 18s;
      -moz-animation: 0.5s fadeIn ease-in 18s;
      animation: 0.5s fadeIn ease-in 18s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p3 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 28s;
      -moz-animation: 0.5s fadeIn ease-in 28s;
      animation: 0.5s fadeIn ease-in 28s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .mobileButt {
      opacity: 0; }
  .rowAboutMe .arrowDownAboutMe {
    margin-top: -20px; }
    .rowAboutMe .arrowDownAboutMe .arrow {
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      width: 35px;
      height: 35px;
      margin: 0px auto;
      display: block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      -webkit-animation: 1s fadeIn ease-in 30s;
      -moz-animation: 1s fadeIn ease-in 30s;
      animation: 1s fadeIn ease-in 30s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.worksTitle {
  padding-top: 50px;
  text-align: center; }
  .worksTitle span {
    font-size: 20px;
    border: 4px solid black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; }

.rowMobileWorks {
  display: none; }

.rowRobot {
  padding-top: 100px;
  margin-bottom: 94px; }
  .rowRobot .robot {
    width: 250px;
    float: none; }
    .rowRobot .robot .st0 {
      fill: none;
      stroke: #000000;
      stroke-miterlimit: 10; }
    .rowRobot .robot .st1 {
      fill: none;
      stroke: #EAD906;
      stroke-miterlimit: 10; }
    .rowRobot .robot #electric {
      -webkit-animation: 0.75s zap infinite;
      -moz-animation: 0.75s zap infinite;
      animation: 0.75s zap infinite; }
  .rowRobot .moveRobby {
    -webkit-animation: 10s gobot 1.5s;
    -moz-animation: 10s gobot 1.5s;
    animation: 10s gobot 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .rowRobot .moveRobby #wheel1 {
      -webkit-animation: bump 2s infinite 0.5s;
      -moz-animation: bump 2s infinite 0.5s;
      animation: bump 2s infinite 0.5s; }
    .rowRobot .moveRobby #wheel2 {
      -webkit-animation: bump 2s infinite 0.2s;
      -moz-animation: bump 2s infinite 0.2s;
      animation: bump 2s infinite 0.2s; }
    .rowRobot .moveRobby #wheel3 {
      -webkit-animation: bump 2s infinite 0.4s;
      -moz-animation: bump 2s infinite 0.4s;
      animation: bump 2s infinite 0.4s; }
    .rowRobot .moveRobby #wheel4 {
      -webkit-animation: bump 2s infinite 0.8s;
      -moz-animation: bump 2s infinite 0.8s;
      animation: bump 2s infinite 0.8s; }
    .rowRobot .moveRobby #wheel5 {
      -webkit-animation: bump 2s infinite 0.3s;
      -moz-animation: bump 2s infinite 0.3s;
      animation: bump 2s infinite 0.3s; }
    .rowRobot .moveRobby #wheel6 {
      -webkit-animation: bump 2s infinite 0.6s;
      -moz-animation: bump 2s infinite 0.6s;
      animation: bump 2s infinite 0.6s; }

.rowSelectedWorks {
  padding-top: 75px;
  font-size: 13px;
  margin: 0px auto;
  display: block;
  margin-bottom: 50px;
  -webkit-animation: 4s fadeIn ease-in 0s;
  -moz-animation: 4s fadeIn ease-in 0s;
  animation: 4s fadeIn ease-in 0s; }
  .rowSelectedWorks .unslider-arrow {
    padding: 5px;
    border: 4px solid black;
    margin-right: 5%;
    margin-left: 5%; }
  .rowSelectedWorks .selectedWorksSlider {
    padding-top: 15px;
    width: 90%;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px; }
    .rowSelectedWorks .selectedWorksSlider ul li .image {
      padding-left: 0px; }
      .rowSelectedWorks .selectedWorksSlider ul li .image img {
        display: block; }
    .rowSelectedWorks .selectedWorksSlider ul li .description {
      border: 4px solid black;
      border-right: 4px solid black;
      padding-top: 10px;
      margin-top: -10px;
      text-align: justify; }
      .rowSelectedWorks .selectedWorksSlider ul li .description .title {
        font-size: 15px;
        text-transform: uppercase; }
      .rowSelectedWorks .selectedWorksSlider ul li .description .links {
        padding-top: 15px; }
        .rowSelectedWorks .selectedWorksSlider ul li .description .links a {
          color: #337ab7 !important; }
          .rowSelectedWorks .selectedWorksSlider ul li .description .links a:hover {
            color: #22527b !important;
            -webkit-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -o-transition: color .5s ease;
            transition: color .5s ease; }
    .rowSelectedWorks .selectedWorksSlider ul li .tech {
      padding-top: 10px;
      text-align: center; }
      .rowSelectedWorks .selectedWorksSlider ul li .tech li {
        margin-bottom: 20px;
        float: none;
        display: inline-block;
        padding-left: 10px; }
        .rowSelectedWorks .selectedWorksSlider ul li .tech li span {
          padding: 5px;
          border-radius: 5px;
          background-color: black;
          color: white;
          text-align: center; }
    .rowSelectedWorks .selectedWorksSlider ul li .singleColumn li {
      padding-left: 25px; }
  .rowSelectedWorks .arrowDownSelectedWorks {
    padding-top: 65px; }
    .rowSelectedWorks .arrowDownSelectedWorks .arrow {
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      width: 35px;
      height: 35px;
      margin: 0px auto;
      display: block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      -webkit-animation: 1s fadeIn ease-in 7s;
      -moz-animation: 1s fadeIn ease-in 7s;
      animation: 1s fadeIn ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.rowContact {
  margin-bottom: 250px; }
  .rowContact .contactTitle {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px; }
    .rowContact .contactTitle span {
      border: 4px solid black;
      padding-left: 10px;
      padding-right: 10px; }
  .rowContact .airplane {
    margin-left: 1%; }
    .rowContact .airplane .st0 {
      fill: none;
      stroke: #000000;
      stroke-width: 3;
      stroke-miterlimit: 10; }
    .rowContact .airplane .st1 {
      fill: #FC4F13; }
    .rowContact .airplane .st2 {
      fill: #FC4F13;
      stroke: #000000;
      stroke-width: 3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
  .rowContact .contactBox {
    opacity: 0;
    text-align: center;
    z-index: 1000;
    position: absolute;
    margin-top: 100px;
    font-size: 16px; }
    .rowContact .contactBox ul {
      float: none;
      list-style-type: none;
      padding-left: 0px; }
      .rowContact .contactBox ul li {
        padding-bottom: 10px; }
        .rowContact .contactBox ul li a:hover {
          color: #FC4F13 !important;
          -webkit-transition: color .5s ease;
          -moz-transition: color .5s ease;
          -ms-transition: color .5s ease;
          -o-transition: color .5s ease;
          transition: color .5s ease; }

@media only screen and (max-width: 625px) {
  .rowHeader {
    float: right; }
    .rowHeader .burger {
      cursor: pointer;
      display: block;
      text-align: right;
      font-size: 25px;
      padding-right: 15px; }
      .rowHeader .burger .burgerDrop li {
        font-size: 15px;
        padding-top: 5px;
        list-style-type: none; }
        .rowHeader .burger .burgerDrop li:hover {
          color: #FC4F13 !important;
          -webkit-transition: color .5s ease;
          -moz-transition: color .5s ease;
          -ms-transition: color .5s ease;
          -o-transition: color .5s ease;
          transition: color .5s ease; }
    .rowHeader .nav {
      display: none; }
  .rowIntro .regIntro {
    display: none; }
  .rowIntro .mobileIntro {
    display: block;
    margin-left: 10px;
    margin-right: 10px; }
    .rowIntro .mobileIntro .introText {
      text-align: center;
      margin: 0px auto;
      display: block;
      margin-top: 20px;
      border: 4px solid black;
      padding-top: 10px; }
    .rowIntro .mobileIntro .nav {
      font-size: 15px;
      padding-top: 20px; }
      .rowIntro .mobileIntro .nav ul {
        padding-left: 0px;
        text-align: center; }
        .rowIntro .mobileIntro .nav ul li {
          text-transform: lowercase;
          display: inline-block;
          cursor: pointer; }
          .rowIntro .mobileIntro .nav ul li:hover {
            color: #FC4F13 !important;
            -webkit-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -o-transition: color .5s ease;
            transition: color .5s ease; }
          .rowIntro .mobileIntro .nav ul li .tinyCircle {
            border: 2px solid black;
            width: 7px;
            height: 7px;
            display: block;
            border-radius: 100px;
            margin-bottom: 2px; } }

@media only screen and (max-width: 1050px) {
  .arrowDownAboutMe {
    display: none; }
  .rowAboutMe .astroText {
    font-size: 13.5px;
    width: 50%; } }

@media only screen and (max-width: 768px) {
  .rowAboutMe .astroText {
    text-align: left;
    font-size: 13px; }
    .rowAboutMe .astroText .p1 {
      z-index: 903;
      position: absolute;
      top: 75px;
      background-color: white;
      -webkit-animation: 15s fadeInOut ease-in 7s;
      -moz-animation: 15s fadeInOut ease-in 7s;
      animation: 15s fadeInOut ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p2 {
      z-index: 902;
      position: absolute;
      top: 75px;
      background-color: white;
      -webkit-animation: 15s fadeInOut ease-in 22s;
      -moz-animation: 15s fadeInOut ease-in 22s;
      animation: 15s fadeInOut ease-in 22s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p3 {
      z-index: 901;
      position: absolute;
      top: 75px;
      background-color: white;
      -webkit-animation: 15s fadeInOut ease-in 37s;
      -moz-animation: 15s fadeInOut ease-in 37s;
      animation: 15s fadeInOut ease-in 37s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .mobileButt {
      z-index: 904;
      position: absolute;
      top: 150px;
      list-style-type: none;
      margin: 0px auto;
      display: block;
      -webkit-animation: 2s fadeIn ease-in 52s;
      -moz-animation: 2s fadeIn ease-in 52s;
      animation: 2s fadeIn ease-in 52s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowAboutMe .astroText .mobileButt span {
        border: 4px solid black;
        padding: 10px;
        font-size: 15px;
        display: inline-block;
        margin-top: 20px;
        text-align: center;
        margin-left: 10px;
        cursor: pointer; }
    .rowAboutMe .astroText .arrowDownAboutMeMobile {
      display: block;
      margin-top: 40px; } }

@media only screen and (max-width: 1060px) {
  .rowSelectedWorks .selectedWorksSlider {
    width: 100%; }
    .rowSelectedWorks .selectedWorksSlider .tech {
      margin-top: 20px; } }

@media only screen and (max-width: 768px) {
  .rowRobot {
    display: none !important; }
  .rowSelectedWorks {
    display: none !important; }
  .rowMobileWorks {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px auto;
    display: block;
    margin-bottom: 50px; }
    .rowMobileWorks .unslider-arrow {
      padding: 5px;
      border: 4px solid black; }
    .rowMobileWorks .mobileWork {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      padding-top: 10px; }
      .rowMobileWorks .mobileWork .title {
        text-transform: uppercase;
        font-size: 18px; }
      .rowMobileWorks .mobileWork .titleSmall {
        font-size: 15px; }
      .rowMobileWorks .mobileWork .links ul {
        cursor: pointer; }
        .rowMobileWorks .mobileWork .links ul li {
          color: #337ab7 !important; }
      .rowMobileWorks .mobileWork .description {
        padding-top: 20px; }
      .rowMobileWorks .mobileWork .tech {
        padding-top: 10px;
        padding-left: 0px; }
        .rowMobileWorks .mobileWork .tech li {
          margin-bottom: 20px;
          padding-right: 10px;
          list-style-type: none;
          display: inline-block; }
          .rowMobileWorks .mobileWork .tech li span {
            padding: 5px;
            border-radius: 5px;
            background-color: black;
            color: white;
            text-align: center; } }

@media only screen and (max-width: 1150px) {
  .rowContact .contactBox {
    font-size: 15px; }
  .rowContact .airplane .st0 {
    stroke: #9B9898; } }

body {
  font-family: "Rammetto One", cursive;
  color: black;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(-90deg, transparent 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(transparent 1px, transparent 1px), transparent;
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px; }
  body .hide {
    display: none; }
  body .show {
    display: block; }
  body .invisible {
    -webkit-animation: 1s fadeOut ease-in 1s;
    -moz-animation: 1s fadeOut ease-in 1s;
    animation: 1s fadeOut ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  body .visible {
    -webkit-animation: 1s fadeIn ease-in 1s;
    -moz-animation: 1s fadeIn ease-in 1s;
    animation: 1s fadeIn ease-in 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
  body a {
    color: black;
    text-decoration: none; }
    body a:hover {
      color: black;
      text-decoration: none; }
    body a:focus {
      color: black;
      text-decoration: none; }
