@keyframes flyX {
  0% {
    transform: translateX(36); }
  50% {
    transform: translateX(614); }
  100% {
    transform: translateX(725); } }

@keyframes flyY {
  0% {
    transform: translateY(1564); }
  50% {
    transform: translateY(1579); }
  100% {
    transform: translateY(1665); } }

@-webkit-keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@-moz-keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@keyframes bump {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-0.5px); }
  100% {
    transform: translateY(0.5px); } }

@-webkit-keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes zap {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 120%; } }

@-moz-keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 120%; } }

@keyframes gobot {
  0% {
    margin-left: 10px; }
  100% {
    margin-left: 110%; } }

@-webkit-keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@-moz-keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@keyframes shrink {
  0% {
    width: 200px; }
  100% {
    width: 100px; } }

@-webkit-keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@-moz-keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@keyframes moveUpAstro {
  from {
    margin-top: 0; }
  to {
    margin-top: -141px; } }

@-webkit-keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@-moz-keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@keyframes moveOverAstro {
  0% {
    margin: 0px; }
  100% {
    margin-left: -55%;
    margin-top: -5%; } }

@-webkit-keyframes type {
  from {
    width: 0; } }

@-moz-keyframes type {
  from {
    width: 0; } }

@keyframes type {
  from {
    width: 0; } }

@-webkit-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@-moz-keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }

@keyframes blink {
  to {
    opacity: .0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.rowHeader {
  padding-top: 15px; }
  .rowHeader .nav {
    font-size: 20px; }
    .rowHeader .nav ul {
      text-align: right; }
      .rowHeader .nav ul a {
        color: black; }
      .rowHeader .nav ul li {
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        cursor: pointer; }
        .rowHeader .nav ul li .tinyCircle {
          border: 2px solid black;
          width: 7px;
          height: 7px;
          display: block;
          border-radius: 100px;
          margin-bottom: 2px; }

.rowIntro {
  margin-top: 70px;
  margin-bottom: 70px; }
  .rowIntro .me {
    width: 200px;
    margin: 0px auto;
    display: block;
    float: none; }
    .rowIntro .me .st0 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-miterlimit: 10; }
    .rowIntro .me .st1 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-linecap: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st2 {
      fill: none;
      stroke: #000000;
      stroke-width: 4;
      stroke-linecap: square;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st3 {
      fill: none;
      stroke: #000000;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
    .rowIntro .me .st4 {
      fill: #FFFFFF; }
    .rowIntro .me .st5 {
      fill: none;
      stroke: #000000;
      stroke-width: 3.5;
      stroke-linejoin: round;
      stroke-miterlimit: 10; }
  .rowIntro .introText {
    margin: 0px auto;
    display: block;
    float: none;
    margin-top: 40px;
    border: 4px solid black;
    width: 596px;
    padding-top: 10px; }
    .rowIntro .introText p {
      white-space: nowrap;
      overflow: hidden;
      width: 500px;
      width: 60ch;
      animation: type 5s steps(60, end); }
    .rowIntro .introText p:nth-child(2) {
      white-space: nowrap;
      overflow: hidden;
      width: 500px;
      width: 50ch;
      animation: type2 8s steps(60, end); }
  .rowIntro .introButtons {
    margin: 0px auto;
    display: block;
    float: none;
    width: 437px;
    margin-top: 20px; }
    .rowIntro .introButtons .introNav {
      border: 4px solid black;
      width: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      margin: 0px auto;
      display: inline-block;
      float: none; }
    .rowIntro .introButtons .aboutMe {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 4.5s;
      -moz-animation: 0.5s fadeIn ease-in 4.5s;
      animation: 0.5s fadeIn ease-in 4.5s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowIntro .introButtons .selectedWorks {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 5.25s;
      -moz-animation: 0.5s fadeIn ease-in 5.25s;
      animation: 0.5s fadeIn ease-in 5.25s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowIntro .introButtons .selectedWorks a {
        color: black;
        text-decoration: none; }
    .rowIntro .introButtons .contact {
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 6s;
      -moz-animation: 0.5s fadeIn ease-in 6s;
      animation: 0.5s fadeIn ease-in 6s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
  .rowIntro .arrowDown {
    padding-top: 50px; }
    .rowIntro .arrowDown .arrow {
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      width: 35px;
      height: 35px;
      margin: 0px auto;
      display: block;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      -webkit-animation: 1s fadeIn ease-in 7s;
      -moz-animation: 1s fadeIn ease-in 7s;
      animation: 1s fadeIn ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.rowAboutMe {
  margin-top: 70px;
  padding-bottom: 50px; }
  .rowAboutMe .astroBox {
    -webkit-animation: moveOverAstro ease-in 3s;
    -moz-animation: moveOverAstro ease-in 3s;
    animation: moveOverAstro ease-in 3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s; }
    .rowAboutMe .astroBox .me {
      width: 200px;
      margin: 0px auto;
      display: block;
      float: none;
      -webkit-animation: shrink ease-in 5s;
      -moz-animation: shrink ease-in 5s;
      animation: shrink ease-in 5s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .me .st0 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st1 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        -webkit-animation: fadeOut 5s;
        -moz-animation: fadeOut 5s;
        animation: fadeOut 5s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .me .st2 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: square;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st3 {
        fill: none;
        stroke: #000000;
        stroke-width: 2.5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .rowAboutMe .astroBox .me .st4 {
        fill: #FFFFFF; }
      .rowAboutMe .astroBox .me .st5 {
        fill: none;
        stroke: #000000;
        stroke-width: 3.5;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
    .rowAboutMe .astroBox .astronaut {
      width: 250px;
      margin: 0px auto;
      display: block;
      float: none;
      -webkit-animation: moveUpAstro ease-in 4s;
      -moz-animation: moveUpAstro ease-in 4s;
      animation: moveUpAstro ease-in 4s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
      .rowAboutMe .astroBox .astronaut .st0 {
        fill: none;
        stroke: #000000;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        opacity: 0;
        -webkit-animation: fadeIn ease-in 6s;
        -moz-animation: fadeIn ease-in 6s;
        animation: fadeIn ease-in 6s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
  .rowAboutMe .astroText {
    z-index: 1000;
    position: absolute;
    width: 45%;
    top: 0px;
    left: 45%; }
    .rowAboutMe .astroText p {
      padding: 10px; }
    .rowAboutMe .astroText .p1 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 7s;
      -moz-animation: 0.5s fadeIn ease-in 7s;
      animation: 0.5s fadeIn ease-in 7s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p2 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 18s;
      -moz-animation: 0.5s fadeIn ease-in 18s;
      animation: 0.5s fadeIn ease-in 18s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .rowAboutMe .astroText .p3 {
      border: 4px solid black;
      opacity: 0;
      -webkit-animation: 0.5s fadeIn ease-in 28s;
      -moz-animation: 0.5s fadeIn ease-in 28s;
      animation: 0.5s fadeIn ease-in 28s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.rowRobot {
  padding-top: 100px; }
  .rowRobot .worksTitle {
    text-align: center;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    animation: fadeIn 4s; }
    .rowRobot .worksTitle span {
      font-size: 20px;
      border: 4px solid black;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center; }
  .rowRobot .robot {
    width: 250px;
    float: none; }
    .rowRobot .robot .st0 {
      fill: none;
      stroke: #000000;
      stroke-miterlimit: 10; }
    .rowRobot .robot .st1 {
      fill: none;
      stroke: #EAD906;
      stroke-miterlimit: 10; }
    .rowRobot .robot #electric {
      -webkit-animation: 0.75s zap infinite;
      -moz-animation: 0.75s zap infinite;
      animation: 0.75s zap infinite; }
  .rowRobot .moveRobby {
    -webkit-animation: 15s gobot 1.5s;
    -moz-animation: 15s gobot 1.5s;
    animation: 15s gobot 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .rowRobot .moveRobby #wheel1 {
      -webkit-animation: bump 2s infinite 0.5s;
      -moz-animation: bump 2s infinite 0.5s;
      animation: bump 2s infinite 0.5s; }
    .rowRobot .moveRobby #wheel2 {
      -webkit-animation: bump 2s infinite 0.2s;
      -moz-animation: bump 2s infinite 0.2s;
      animation: bump 2s infinite 0.2s; }
    .rowRobot .moveRobby #wheel3 {
      -webkit-animation: bump 2s infinite 0.4s;
      -moz-animation: bump 2s infinite 0.4s;
      animation: bump 2s infinite 0.4s; }
    .rowRobot .moveRobby #wheel4 {
      -webkit-animation: bump 2s infinite 0.8s;
      -moz-animation: bump 2s infinite 0.8s;
      animation: bump 2s infinite 0.8s; }
    .rowRobot .moveRobby #wheel5 {
      -webkit-animation: bump 2s infinite 0.3s;
      -moz-animation: bump 2s infinite 0.3s;
      animation: bump 2s infinite 0.3s; }
    .rowRobot .moveRobby #wheel6 {
      -webkit-animation: bump 2s infinite 0.6s;
      -moz-animation: bump 2s infinite 0.6s;
      animation: bump 2s infinite 0.6s; }

.rowSelectedWorks {
  padding-top: 135px;
  font-size: 13px;
  margin: 0px auto;
  display: block;
  margin-bottom: 175px;
  overflow: hidden !important;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  animation: fadeIn 4s; }
  .rowSelectedWorks .unslider-arrow {
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 4px solid black;
    margin-right: 10%;
    margin-left: 10%; }
    .rowSelectedWorks .unslider-arrow:hover {
      color: black;
      text-decoration: none; }
  .rowSelectedWorks .selectedWorksSlider {
    padding-top: 15px;
    width: 80%;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px; }
    .rowSelectedWorks .selectedWorksSlider ul li img {
      display: block; }
    .rowSelectedWorks .selectedWorksSlider ul li .description {
      border: 4px solid black;
      border-right: 4px solid black;
      padding-top: 10px;
      margin-top: -10px;
      text-align: justify; }
      .rowSelectedWorks .selectedWorksSlider ul li .description .title {
        font-size: 15px;
        text-transform: uppercase; }
      .rowSelectedWorks .selectedWorksSlider ul li .description .links {
        padding-top: 15px; }
        .rowSelectedWorks .selectedWorksSlider ul li .description .links a {
          color: #337ab7 !important; }
    .rowSelectedWorks .selectedWorksSlider ul li .tech {
      padding-top: 10px; }
      .rowSelectedWorks .selectedWorksSlider ul li .tech li {
        margin-bottom: 20px;
        float: right;
        display: block;
        padding-left: 10px; }
        .rowSelectedWorks .selectedWorksSlider ul li .tech li span {
          padding: 5px;
          border-radius: 5px;
          background-color: black;
          color: white;
          text-align: center; }
    .rowSelectedWorks .selectedWorksSlider ul li .singleColumn li {
      padding-left: 25px; }

.rowContact {
  margin-bottom: 200px; }
  .rowContact .contactTitle {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px; }
    .rowContact .contactTitle span {
      border: 4px solid black;
      padding-left: 10px;
      padding-right: 10px; }
  .rowContact .airplane .st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
    stroke-miterlimit: 10; }
  .rowContact .airplane .st1 {
    fill: #FC4F13; }
  .rowContact .airplane .st2 {
    fill: #FC4F13;
    stroke: #000000;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  .rowContact .contactBox {
    font-size: 15px; }
    .rowContact .contactBox .icon {
      border: 3px solid black;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
      .rowContact .contactBox .icon i {
        text-align: center;
        font-size: 23px;
        margin: 0px auto;
        display: block;
        margin-top: 5px; }
      .rowContact .contactBox .icon .fa-envelope-o {
        font-weight: bold; }
    .rowContact .contactBox span {
      float: left;
      margin-left: 55px;
      margin-top: -30px; }
    .rowContact .contactBox .phone {
      margin-top: -14%;
      margin-left: 2%; }
    .rowContact .contactBox .email {
      margin-top: -20%;
      margin-left: 48%; }
    .rowContact .contactBox .github {
      margin-top: -7%;
      margin-left: 57%; }
    .rowContact .contactBox .twitter {
      margin-top: -5%;
      margin-left: 4%; }

body {
  font-family: "Rammetto One", cursive;
  color: black;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(-90deg, transparent 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(transparent 1px, transparent 1px), transparent;
  background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px, 10px 10px; }
  body .hide {
    display: none; }
  body .show {
    display: block; }
