.rowAboutMe {
	margin-top: 70px;
    padding-bottom: 50px;
    .astroBox {
 	 	@include animationMix (3s, moveOverAstro, 5s);
	 	@include forward;
		.me {
	        width: 200px;
	        margin: 0px auto;
	        display: block;
	        float: none;
	        .st0{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
	        .st1 {
	        	fill:none;
	        	stroke:#000000;
	        	stroke-width:4;
	        	stroke-linecap:round;
	        	stroke-miterlimit:10;
	        	// hiding the bun
	 	 		@include animationMix (5s,fadeOut, 0s);
	 			@include forward;
	        }
	        .st2{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
	        .st3{fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	        .st4{fill:#FFFFFF;}
	        .st5{fill:none;stroke:#000000;stroke-width:3.5;stroke-linejoin:round;stroke-miterlimit:10;}

	 	 	@include animationMix (5s, shrink, 0s);
	 		@include forward;
	    }
	    .astronaut {
	    	width: 250px;
	        margin: 0px auto;
	        display: block;
	        float: none; 
	 	 	
	 	 	@include animationMix (4s, moveUpAstro, 0s);
		 	@include forward;	           	
			.st0 {
				fill:none;
				stroke:#000000;
				stroke-width:4;
				stroke-linecap:round;
				stroke-linejoin:round;
				stroke-miterlimit:10;
				opacity:0; 
			 	@include animationMix (5s, fadeIn, 0s);
	 			@include forward;
			}
	    }
	}
	.astroText {
		z-index: 1000;
		position: absolute;
		width: 45%;
		top: 0px;
		left: 45%;
		p {
			padding: 10px;
		}
		.p1 {
		    border: 4px solid black;
		    opacity:0; 
		    
           	@include animationMix (0.5s, fadeIn, 7s);
	 		@include forward;
		}
		.p2 {
		    border: 4px solid black;
		    opacity:0; 

            @include animationMix (0.5s, fadeIn, 18s);
	 		@include forward;			
		}
		.p3 {
		    border: 4px solid black;
		    opacity:0; 
	 		
	 		@include animationMix (0.5s, fadeIn, 28s);
	 		@include forward;			
		}
	}
    .arrowDownAboutMe {
        margin-top: -20px;
        .arrow {
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            width: 35px;
            height: 35px;
            margin: 0px auto;
            display: block;
            
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);

            opacity:0; 

            @include animationMix (1s, fadeIn, 30s);
            @include forward;
        }
    }	    
}