.rowIntro {
    margin-top: 70px;
    margin-bottom: 70px;
    // padding-bottom: 40px;
    .me {
        width: 200px;
        margin: 0px auto;
        display: block;
        float: none;
        .st0{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
        .st1{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
        .st2{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
        .st3{fill:none;stroke:#000000;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st4{fill:#FFFFFF;}
        .st5{fill:none;stroke:#000000;stroke-width:3.5;stroke-linejoin:round;stroke-miterlimit:10;}
    }
    .introText {
        margin: 0px auto;
        display: block;
        float: none;
        margin-top: 40px;
        border: 4px solid black;
        width: 596px;
        padding-top: 10px;
        p {
            white-space: nowrap;
            overflow: hidden;
            width: 500px;
            width: 60ch;
            animation: type 5s steps(60, end);
        }
    }
    .introButtons {
        margin: 0px auto;
        display: block;
        float: none;
        width: 437px;
        margin-top: 20px;

        .introNav {
            border: 4px solid black;
            width: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            margin: 0px auto;
            display: inline-block;
            float: none;
        }
        .aboutMe {
            opacity:0; 
            
            @include animationMix (0.5s, fadeIn, 4.5s);
            @include forward;
        }

        .selectedWorks {
            opacity:0; 

            @include animationMix (0.5s, fadeIn,  5.25s);
            @include forward; 
        }

        .contact {
            opacity:0; 

            @include animationMix (0.5s, fadeIn, 6s);
            @include forward;
        }                        

    }
    .arrowDown {
        padding-top: 50px;
        .arrow {
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            width: 35px;
            height: 35px;
            margin: 0px auto;
            display: block;
            
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);

            opacity:0; 

            @include animationMix (1s, fadeIn, 7s);
            @include forward;
        }
    }    
}