.rowSelectedWorks {
	padding-top: 75px;
	font-size: 13px;
	margin: 0px auto;
	display: block;
	margin-bottom: 50px;

	@include animationMix (4s, fadeIn, 0s);

	.unslider-arrow {
		padding: 5px;
		border: 4px solid black;
		margin-right: 10%;
		margin-left: 10%;
	}	
	.selectedWorksSlider {
		padding-top: 15px;
		width: 80%;
		margin: 0px auto;
		display: block;
		margin-bottom: 20px;
		ul {
			li {
				img {
					display: block;
				}
				.description {
					border: 4px solid black;
					border-right: 4px solid black;
					padding-top: 10px;
					margin-top: -10px;
					text-align: justify;
					.title {
						font-size: 15px;
						text-transform: uppercase;
					}
					.links {
						padding-top: 15px;
						a {
							color: #337ab7 !important;
							&:hover{
								color: darken(#337ab7, 15) !important;
								-webkit-transition: color .5s ease;
								-moz-transition: color .5s ease;
								-ms-transition: color .5s ease;
								-o-transition: color .5s ease;
								transition: color .5s ease;									
							}
						}
					}
				}
				.tech {
					padding-top: 10px;
					li {
						margin-bottom: 20px;
						float: right;
						display: block;
						padding-left: 10px;
						span {
							padding:5px;
							border-radius: 5px;
							background-color: black;
							color: white;
							text-align: center;
						}
					}	
				}
				.singleColumn {
					li {
						padding-left: 25px;
					}
				}
			}
		}
	}
	.arrowDownSelectedWorks {
        padding-top: 65px;
        .arrow {
            border-bottom: 4px solid black;
            border-right: 4px solid black;
            width: 35px;
            height: 35px;
            margin: 0px auto;
            display: block;
            
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);

            opacity:0; 

            @include animationMix (1s, fadeIn, 7s);
            @include forward;
        }
    }		
}