$mainFont: 'Rammetto One', cursive;

@import "mixins";
@import "animations";
@import "header";
@import "intro";
@import "aboutMe";
@import "robot";
@import "selectedWorks";
@import "contact";
@import "responsive";


body {
    font-family: $mainFont;
    color: black;
    //GRAPHPAPER
    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(-90deg, transparent 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px;
    
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .invisible {
        @include animationMix (1s, fadeOut, 1s);
        @include forward;
    }
    .visible {
        @include animationMix (1s, fadeIn, 1s);
        @include forward;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover {
            color: black;
            text-decoration: none;
        }
        &:focus {
            color: black;
            text-decoration: none;
        }
    }   
}



